@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
*{
  text-align: center;
  font-family: 'Ownglyph_ParkDaHyun';
}

html{
  background-color:#d7d7d7);
  font-size: 16px;
}

body{
  width: 640px;
  margin: auto; /*너비에서 남는 여백을 동일하게 분배 */
}

h1{
  font-size: 48px;

}

img{
  width: ;
  height:250px;
  border-radius: 100px;
}
p{
  font-size: 22px;
}

.gray{
  color: rgba(0, 0, 0, 0.1);
}

#birth{
  color:green;
  font-size: 25px;
}

#picky{
  color: red;
}